.header {
  padding: 15px;
  min-height: 55px;

  h1 {
    font-size: 18px;
    margin: 0;
    font-weight: normal;
  }

  a {
    color: black;

    &:hover, &:focus{
      text-decoration: none !important;
    }
  }

  small {
    opacity: 0.75;
  }
}
