.item {
  position: relative;
  border-bottom: 3px solid black;
}

.title {
  background: white;
  padding: 15px;

  a {
    display: block;
    color: black;
    font-size: 22px;
    text-decoration: none;
  }

  span {
    color: lightgrey;
  }
}

.image {
  width: 100%;
}
